* {
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.thin-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.regular {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.preheader{
    padding-top: 3px;;
    background-color: rgb(74, 101, 255);
}
header{
    padding: 30px 40px 40px 40px;
    background-color: rgb(74, 101, 255);
    color: white;
    font-family: "Oswald", sans-serif;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
nav{
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}
header a{
    color: white;
    text-decoration: none;
}
header a.active{
    text-decoration: overline;
}
header a:hover{
    text-decoration: underline;
    text-decoration-color: gainsboro;
    text-decoration-style:dotted;
    text-underline-offset: 5px;
}
nav a.active{
    text-decoration: overline;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px 40px 67px 40px;
    background-color: black;
    color: white;
    line-height: 1.5;
    display: flex;
    justify-content: space-evenly;

}
.leftFooter{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.rightFooter{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

footer a{
    color: lightskyblue
}

.home-back{
    font-family: "Public Sans", sans-serif;
    background-image: url(pyongyang\ back1.png);
    padding: 45px;
}

.home-buttons1{
    font-family:"Public Sans", sans-serif;
    display: flex;
    gap: 35px;
}
.home-buttons1 button:hover{
    background-color: gainsboro;
    transform: scale(1.2)
}
.home-buttons1 button{
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    transition: transform ease-in-out .1s;
    height: 27px;
    padding-left: 15px;
    padding-right: 15px;
}
.home-buttons1 button:active{
    color: blue;
}

.latest-exterior{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.latest{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.80);
    padding: 20px;
    width: 540px;
    border-radius: 20px;
}
.topHeadlineExt{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    padding: 15px;
    width: 500px;
    border-radius: 25px;
    border: 1px, rgb(234, 234, 234), solid;
}

.topHeadline{
    margin-left: 25px;
}
.topHeadlineImage{
    margin-right: 25px;
}
.topHeadlineImage img{
    border-radius: 8px;
}

.topHeadline h4{
    line-height: 2.2;
}
.topHeadline h6{
    line-height: 2.5;
}
.topHeadline a{
    color: black
}

.home-back hr{
    border: none;
    margin: 50px 0px 30px 0px
}

.center-force{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 30px;
    padding-top: 100px;
}

#history{
    padding: 45px;
    background-color:rgb(255, 224, 224)
}

.tourism{
    padding: 65px 45px 45px 45px;
}

.tourism p, .tourism h1{
    font-family: "Public Sans";
    display: flex;
    justify-content: center;
}

.tourism hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

.dropdowns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.newsletter-ext{
    display: flex;
    justify-content: center;
}

.newsletter-box{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px black solid;
    padding: 30px;
    width: 500px;
    box-shadow: 15px 15px;
}
.newsletter-box label{
    display: flex;
    justify-content: center;
    padding-top: 13px;
    padding-bottom: 4px;
}

.hu{
    font-size: 9px;
    color: gray;
}

.d1, .d2, .d3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.d1{
    border: 1px rgb(25, 64, 0) solid;
    background-color: rgba(98, 185, 100, 0.223);
}
.d2{
    border: 1px rgb(220, 162, 75) solid;
    background-color: rgba(238, 184, 102, 0.151);
}
.d3{
    border: 1px rgb(78, 44, 189) solid;
    background-color: rgba(108, 48, 187, 0.134);
}

.d4, .d5, .d6{
    margin-top: 10px;
    margin-bottom: 10px;
}
.d4{
    border: 1px rgb(0, 50, 64) solid;
    background-color: rgba(77, 195, 227, 0.178);
}
.d5{
    border: 1px rgb(161, 22, 50) solid;
    background-color: rgba(201, 41, 116, 0.151);
}
.d6{
    border: 1px rgb(79, 113, 0) solid;
    background-color: rgba(191, 255, 0, 0.199);
}

.contact-ext{
    padding: 50px;
}
.contact-form{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 3px black solid;
    box-shadow: black 15px 15px;
    width: 900px;
    padding: 30px;
}
.contact-form input[type=submit]{
    margin: 10px;
    padding: 5px;
    font-weight: 700;
    border-radius: 10px;
}
.contact-form hr, .contact-form h3{
    margin: 10px;
}